@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Poppins:wght@500;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #170a59;
    padding-left: 20px;
    padding-right: 30px;
    max-width: 1200px;
    margin: 0 auto;
}
.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
    "description form"
    "description result";
    grid-gap: 20px;
}
p{
    margin: 0px ;
}
h1{
    font-size: 38px;
}
h2{
    margin-top: 60px;
    font-size: 28px;  
}
h3{
    font-size: 23px;
    margin-bottom: 10px;
}
.ghost{
    display: none;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.form-group label {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 2px;
    font-weight: bold;
    
}
.form-group input, .form-group select{
    width: 240px;
    height: 20px;
    border: 2px solid transparent;
    color: #170a59;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    outline: none;
    transition: border-color 0.4s ease-in;  
}
.form-group select{
    height: 25px;
    padding: 0 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.form-group input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.form-group input[type=number]{
    -moz-appearance: textfield;
}
.form-group input:hover,
.form-group select:hover {
  border-color: #170a59;
}
.form-group button{
    cursor: pointer;
    color: white;
    font-family: 'Poppins', sans-serif;
    border: 1px solid transparent;
    border-radius: 15px;
    background-color: #ff8057;
    height: 35px;
    width: 240px;
    font-size: 16px;
    margin: 15px 0 15px 0;
    font-weight: bold;
    transition: background-color 0.4s ease-in;
}
.form-group button:hover{
    background-color: #fc764e;
}
.result ul {
    list-style: none;
}

@media (max-width: 655px){
    .container{  
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 700px;
        grid-template-areas: 
        "description"
        "form"
        "result";
        margin-left: 13%;
        height: 1500px;
    }
    
    .text2 { display: inline-block; }
    .text1 { display: none; }
    .form-group input, .form-group select{
        border: 2px solid #170a59 ;
        padding-left: 5px;
        
    }
    .ghost{
        display: grid;
    }
    

}
@media (min-width: 656px){
    .text2 { display: none; }
}

